<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h1>UniCracy</h1>
      <!-- <fa-icon [icon]="faInfoCircle"></fa-icon> -->
    </div>
  </div>
  <hr />
  <form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="policy" class="col-sm-2 col-form-label">Policy</label>
      <div class="col-sm-10">
        <textarea
          style="min-height: 100px"
          type="text"
          class="form-control"
          id="policy"
          name="policy"
          placeholder="The policy you wish to propose"
          required
          formControlName="policy"
        ></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name (optional)"
          formControlName="name"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label"
        >Date of birth (Required)</label
      >
      <div class="col-sm-10">
        <input
          type="date"
          class="form-control"
          id="dob"
          name="dob"
          placeholder="Date of birth (Required)"
          required
          formControlName="dob"
        />
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender (Required)</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              formControlName="gender"
              id="female"
              value="f"
              required
            />
            <label class="form-check-label" for="female"> Female </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              formControlName="gender"
              id="male"
              value="m"
              required
            />
            <label class="form-check-label" for="male"> Male </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              formControlName="gender"
              id="other"
              value="o"
              required
            />
            <label class="form-check-label" for="other"> Other </label>
            <input
              type="text"
              class="form-control"
              id="other_value"
              placeholder="Specify (optional)"
              name="other_value"
              disabled
            />
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="tags" class="col-sm-2 col-form-label">Tags</label>
      <div class="col-sm-10">
        <textarea
          style="min-height: 100px"
          type="text"
          class="form-control"
          id="tags"
          name="tags"
          placeholder="Words that describe you (At least one)"
          required
          formControlName="tags"
        ></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!policyForm.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
